.f-container {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.f-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.secondaryText {
    color: rgb(140 139 139);
    font-size: 0.9rem;
}
.primaryText {
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
}
.f-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
@media (max-width: 760px){
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
}